.da-guilds {
  &,&>.da-scrollerWrap>.da-scroller {
    background: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: (-2*$server-blur-radius);
    left: (-2*$server-blur-radius);
    bottom: (-2*$server-blur-radius);
    right: (-2*$server-blur-radius);
    background-color: change-color($server-blur-color, $alpha: $server-blur-color-alpha);
    background-image: $background-image;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-blend-mode: $server-blur-background-blend-mode;
    filter: blur($server-blur-radius) $server-blur-filter;
  }

  .da-expandedFolderBackground {
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: (-2*$server-folder-blur-radius);
      left: (-2*$server-folder-blur-radius);
      bottom: (-2*$server-folder-blur-radius);
      right: (-2*$server-folder-blur-radius);
      background-color: change-color($server-folder-blur-color, $alpha: $server-folder-blur-color-alpha);
      background-image: $background-image;
      background-attachment: fixed;
      background-position: 50% 50%;
      background-size: cover;
      background-blend-mode: $server-folder-blur-background-blend-mode;
      filter: blur($server-folder-blur-radius) $server-folder-blur-filter;
    }
  }
}