$server-blur-color: white;
$server-blur-color-alpha: .125;
$server-blur-radius: 2px;
$server-blur-filter: saturate(110%);
$server-blur-background-blend-mode: lighten;
$server-folder-blur-color: white;
$server-folder-blur-color-alpha: .25;
$server-folder-blur-radius: 4px;
$server-folder-blur-filter: saturate(120%);
$server-folder-blur-background-blend-mode: lighten;

@import 'custom';