$server-blur-color: white;
$server-blur-color-opacity: 0;
$server-blur-radius: 2px;
$server-blur-filter: saturate(110%);
$server-blur-background-blend-mode: normal;
$server-folder-blur-color: white;
$server-folder-blur-color-opacity: 0;
$server-folder-blur-radius: 4px;
$server-folder-blur-filter: saturate(120%);
$server-folder-blur-background-blend-mode: normal;

@import 'custom';