.da-bg {
  background: $background-url;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  filter: blur($background-blur)
    brightness($background-brightness)
    hue-rotate($background-hue-rotate)
    saturate($background-saturation);
}