.da-guilds {
  &,&>.da-scrollerWrap>.da-scroller {
    background: none;
  }

  &, .da-expandedFolderBackground {
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: change-color($server-alpha-color, $alpha: $server-alpha-color-alpha);
    }
  }
}
